[run]
branch = true
source = .
omit =
  */**/migrations/*
  */**/management/commands/*
  */**/settings/*
  */**/settings.py
  */**/tests/**
  */src/*
  */wsgi.py
  */runtests.py

[report]
exclude_lines =
    raise NotImplementedError
